@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');


body{
  padding:0px;
  margin: 0px;
  font-family:'Lato';
  overflow: x hidden;;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  background: #e5e56c;
}



header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;

}

header .logo{
    color:#ecece4;
    font-size: 2.5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#dfd80c;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.site-content{
  background-image: url('./images/bgfoodnew.jpg');
  background-size:cover;
  background-attachment: fixed;
  
  
}
.site-title, .site-desc{
  color:#e6ee72;
  font-family: 'Righteous';
}
.site-title{
  margin-top:30%;
  margin-bottom:6%;
  font-size:50px;
  text-align:center;
}
.site-desc{
  text-align:center;
  font-size:20px;
  padding: left 2%;;
}
.site-btn1{
  margin-top:6%;
  margin-bottom:30%;
  margin-left:20%;
  background-color:black;
  color: white;
  
}
.site-btn2{
  margin-top: 6%;
	margin-bottom: 30%;
	background-color: bisque;
}


#about .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 6rem;
  margin-bottom: 2rem;
}

#about .heading h1 span {
  color: #8e2310;
}

#about .content {
  margin: 5rem auto;
}

#about .content p {
  font-size: 2.5rem;
}

#about .image img {
  width: 30vw;
  
}


#dish {
  min-height: 100vh;
  width: 100vw;
}

#dish .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#dish .heading h1 span {
  color: #FFF200;
}

#dish .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  width: 90%;
}

#dish .box-container .box {
  height: 20rem;
  width: 25rem;
  border-radius: .5rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 .5rem #333;
          box-shadow: 0 0 .5rem #333;
}

#dish .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dish .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#dish .box-container .box .info h3 {
  font-size: 3rem;
}

#dish .box-container .box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #f4f4f0;
  border-top: 0.2rem solid #f7f7f3;
  margin: 1rem 2rem;
}

#dish .box-container .box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #f00f0f;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
}

#dish .box-container .box .info button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#dish .box-container .box .info button:hover::before {
  width: 100%;
}

#dish .box-container .box:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
} 
.section-1  .para-1{
  margin-top:2%;
  width:80%;
  text-align:center;
  margin-left:10%;
  margin-bottom:4%;
} 
.section-1 .card-text, .para-1{
  color:rgb(0, 0, 0, 0.59);
} 
.section-1{
  margin-top:2%;
margin-bottom:5%;
  
}
.section-1 .card{
  width: 20rem;
}
.section-2 .container-fluid{
  background-image: url("images/friendssharing.jpg");
	background-attachment: fixed;
	background-size: cover;
}
.section-2 .heading-1{
  margin-top:15%;
  margin-bottom:4%;
  font-family:'Righteous';
  width:80%;
  margin-left:35%;
  color: #ac0606;;
  
}
.section-2 .para-1{
  font-family:'Ubuntu';
  color:#0e0c0c;
  width:80%;
  margin-left:15%;
  margin-bottom:6%;
  font-size:18px;
  
}
.section-2 .btn1{
  width:15%;
  margin-bottom:10%;
  padding:10px;
  margin-left:42%;
}

.review-section{
  background:#121112;
  color:white
}

#testimonials {
    background-color: #080707;
    
}
  
.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
    font-family: cursive;
}
  
.testimonial-image {
    height:30px;
    margin: 20px;
}
 


.footer{
    background:#e6ee72;
    font-family:'ubuntu';
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#151414;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:black;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#2c2c2a;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:black;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#131111;
    background:white;
    text-align: center;
    font-weight: normal;
    padding-bottom: 9rem;
}

.footer .credit a{
    color:#161513
}




@media only screen and(max-width: 320px){
  .site-content .site-title{
    font-size:30px;
    padding-left:15%;
  }
}

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#444;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:#f39c12;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }

    #about .image {
    text-align: center;
  }
  #about .image img {
    width: 70vw;
  }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .contact .row form .box{
        width:100%;
    }

}